/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid $color__brand-color;
  border-radius: 3px;
  background-color: $color__background-body;
  color: $color__brand-color;
  font-size: 1rem;
  line-height: 1;
  padding: 0.75rem 2rem;

  &:active,
  &:focus,
  &:hover {
    border-color: $color__link-hover;
    color: $color__link-hover;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  border: 1px solid $color__brand-color;
  border-radius: 3px;
  background-color: $color__background-body;
  color: $color__brand-color;

  &:focus {
    border-color: $color__link-hover;
    $color__link-hover: #00aa00;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
  margin: 1rem auto;
}

textarea {
  padding-left: 3px;
  margin: 1rem auto;
  width: 100%;
}
