/*Header*/
.site-header {
  @include desktop {
    text-align: center;
  }
}
.site-logo img {
  height: 45px;
  width: auto;

  @include tablet {
    height: 75px;
  }
  @include desktop {
    height: 120px;
  }
}
