/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* globals */
body {
  height: 100vh;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.5rem;
}

/* Quote content*/
.blog,
.single-post {
  .site-main {
    font-size: 1.25rem;
    .quote-author {
      font-size: 1.25rem;
      font-weight: normal;
      display: inline-block;
    }
  }
}
/* All Archives Page */

/* Submit a Quote Page */
