/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* globals */
body {
  height: 100vh;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.5rem;
}

/* Quote content*/
.blog,
.single-post,
.archive {
  .site-main {
    .quote-author {
      font-size: 1.25rem;
      font-weight: normal;
      display: inline-block;
    }
    .quote-source {
      font-style: italic;
    }
  }
}
/* All Archives Page */
body.page-template-archives-quotes {
  .site-content {
    li {
      margin: 0 0.85em 0.7em 0;
    }
  }
}
/* General Archives Page */
body.archive {
  .site-main {
    article {
      border-bottom: 1px dotted $color__text-main;
      padding-bottom: 2rem;
    }
    h1 {
      @extend article;
      padding-bottom: 1rem;
    }
  }
}

/*404 Page*/
body.error404 {
  fieldset {
    border: none;
  }

  .search-submit {
    border: none;
    padding: 0 0.5rem;
  }
}
