/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* globals */
body {
  height: 100vh;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2.5%;
}

@include desktop {
  .site-content {
    margin: 3rem 10rem 1rem;
    position: relative;
    &:before,
    &:after {
      color: $color__brand-color;
      font-family: FontAwesome;
      font-size: 7rem;
      line-height: 7rem;
      position: absolute;
      top: 0;
    }

    &:before {
      content: '\f10d';
      left: -8rem;
    }

    &:after {
      content: '\f10e';
      right: -8rem;
    }
  }
}

/* Quote content*/
.blog,
.single-post,
.archive {
  .site-main {
    .quote-author {
      font-size: 1.25rem;
      font-weight: normal;
      display: inline-block;
    }
    .quote-source {
      font-size: 1.25rem;
      font-style: italic;
    }
  }
  @include desktop {
    .entry-content {
      p {
        font-size: 2.5rem;
      }
    }
  }
}
#another-quote {
  display: block;
  @include desktop {
    margin: 0 auto;
    font-size: 1.5rem;
  }
}

/* All Archives Page */
body.page-template-archives-quotes {
  .site-content {
    li {
      margin: 0 0.85em 0.7em 0;
    }
  }
}
/* General Archives Page */
body.archive {
  .site-main {
    article {
      border-bottom: 1px dotted $color__text-main;
      padding-bottom: 2rem;
    }
  }
}
/*General archives and Search result page*/
body.archive,
body.search-results {
  h1 {
    border-bottom: 1px dotted $color__text-main;
    padding-bottom: 1rem;
  }
}
/*404 Page*/
body.error404 {
  fieldset {
    border: none;
  }

  .search-submit {
    border: none;
    padding: 0 0.5rem;
  }
}
